<nav class="navbar navbar-expand justify-content-between navbar-light bg-light">
  <ol class="navbar-nav">
    <li>
      <span class="navbar-brand mb-0 ml-2 h1">সঞ্চয়</span>
    </li>
  </ol>
  <form class="form-inline">
    <a class="btn btn-outline-danger my-2 my-sm-0" href="/">Logout</a>
  </form>
</nav>