<!DOCTYPE html>
<html lang="en">

    {{>header}}

    <body>
        {{>navbar}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {{> sidebar}}
                </div>
                <div class="col-sm-10">
                    <div class="container mt-4">
                        <h3>Withdraw</h3>
                        <br />
                        <div class="row">
                            <div class="col-8">
                                <form action="/Agent/withdraw" method="POST">
                                    <div class="form-group row">
                                        <label class="col-sm-3" for="mobileNo" class="col-sm-2 col-form-label"><b>Mobile
                                                Number</b></label>
                                        <div class="col-sm-6">
                                            <input name="mobileNo" type="text" required class="form-control" id="mobileNo"
                                                placeholder="Enter agent mobile number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3" for="amount"
                                            class="col-sm-2 col-form-label"><b>Amount</b></label>
                                        <div class="col-sm-6">
                                            <input name="amount" type="number" required min="500" class="form-control" id="amount"
                                                placeholder="Enter amount">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3" for="confirmAmount"
                                            class="col-sm-2 col-form-label"><b>Confirm
                                                amount</b></label>
                                        <div class="col-sm-6">
                                            <input name="confirmAmount" type="text" required min="500" class="form-control" id="confirmAmount"
                                                placeholder="Enter confirm amount">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>
                            <div class="col-4">
                                {{#if error}}
                                <div class="alert alert-primary" role="alert">
                                    {{error}}
                                </div>
                                {{/if}}
                                {{#if success}}
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Deposit Successful</h5>
                                        <p class="card-text"><b>Transaction ID:</b> {{success._id}}</p>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>