<!DOCTYPE html>
<html lang="en">
    {{> header}}

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <img src="/images/signup.gif" class="img-fluid" width="100%">
                </div>
                <div class="col-md-6">
                    <div class="jumbotron jumbotron-fluid bg-white text-black ml-4">
                        <div class="container-fluid">
                            <h1 class="display-4">স্বাগত</h1>
                            <p class="lead">আপনাকে সঞ্চয় পরিবারে</p>
                        </div>
                    </div>
                    {{#if error}}
                    <div class="mx-4 col-10 alert alert-warning alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    <div class="container ml-4">
                        <h1>Sign Up</h1>
                        <br />
                        <div class="row">
                            <div class="col-10">
                                <form action="/signup" method="POST">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label"><b>Name</b></label>
                                        <div class="col-sm-10">
                                            <input type="text" name="name" class="form-control" id="inputName"
                                                placeholder="Enter your Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputUsername"
                                            class="col-sm-2 col-form-label"><b>Username</b></label>
                                        <div class="col-sm-10">
                                            <input name="username" type="text" class="form-control" id="inputUsername"
                                                placeholder="Enter Username">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword"
                                            class="col-sm-2 col-form-label"><b>Password</b></label>
                                        <div class="col-sm-10">
                                            <input name="password" type="password" class="form-control"
                                                id="inputPassword" placeholder="Enter Password">
                                        </div>

                                    </div>

                                    <button type="submit" class="mt-2 btn btn-primary float-right">Sign Up</button>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-4 ml-4">
                        Already registered? <a href="/">Sign In</a>
                    </div>

                </div>
            </div>
        </div>
    </body>
    {{> footer}}

</html>